$background-color: #363c45;
$background-navbar: #929a9f;
$primary-color: #3e90cc;
$accent-color-1: #c2ffee;
$accent-color-2: #ffffff;
$accent-color-3: #ffffff;
$text-color: #dce0e5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
